.line {
	/* line */
	text-decoration: line-through;
	text-decoration-thickness: 18px;
	text-decoration-color: #d7fb03;
}

@media screen and (max-width: 768px) {
	/* hide overflow lef */
	body {
		overflow-x: hidden;
	}
}
